$app-background: #F0F2F5;
$main-color: #0095DA;
$light-blue: #60B2FF;
$white-color: #FFFFFF;
$black-color: #000000;
$light-red: #FF1919;
$accept-green: #27A35D;
$input-border: var(--lightGray);
$dark-input-text: #7C7C7C;
$gray-icons: #8E8E93;
$gray-input-background: #E7E7E7;